# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Node modules
node_modules/

# OS files
.DS_Store
Thumbs.db

# Data and logs
*.log
data/
.env

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Machine Learning models (Large files)
*.pth
*.pkl
*.h5
*.onnx
*.weights
models/

# Datasets
datasets/
raw_images/
temp_images/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
