
body{
    background: linear-gradient(to right, #1f63bb, #360449);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .card-custom {
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
} */