
body{
    font-family: Arial, sans-serif;
    background-color: #291f1f;
    margin: 10px;
    padding: 5px;
}

h1{
    color: #990606;
    text-align: center;
    margin-top: 20px;
}

h2{
    color: #0b3d91;
    margin-left: 20px;
    margin-top: 15px;
}

p{
    color: #16a1d4;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}

a{
    color: #ff5733;
    text-decoration: none;
}

mark{
    background-color: #1a8268;
    color: #e6d9d9;
}

ul{
    list-style: georgian;
    margin: 20px;
    padding: 0;
}

li{
    color: #430ae0;
    margin: 10px;    
    align-items: normal;
}

#sobre-mi {
    background-color: #f0f4f8;
    padding: 30px;
    border-radius: 10px;
    border-left: 10px solid #007acc;
    border-right: 10px solid #007acc;
}