/* El 'Padre': define que todo lo que esté dentro sea Flexible */
.container {
    display: flex;
    background-color: #f0f0f0;
    border: 2px solid #333;
    margin-bottom: 20px;
    height: 150px;
}
/* El 'Hijo': los elementos que se mueven dentro del contenedor */
.item {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 5px;
    text-align: center;
}

/* Clases AUXILIARES: se añaden al contenedor para cambiar su comportamiento */
/* Ejercicio 1: Dirección */
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; height: auto; }

/* Ejercicio 2: Distribución Horizontal */
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }

/* Ejercicio 3: Alineación Vertical */
.align-center { align-items: center; }

/* Ejercicio 4: Envoltura y Espaciado */
.flex-wrap { flex-wrap: wrap; height: auto; }
.gap-20 { gap: 20px; }

/* Ejercicio 5: Propiedades de los Hijos */
.grow-1 { flex-grow: 1; }
.order-first { order: -1; }
.align-self-end { align-self: flex-start; }
