#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #070707;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 40x auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.task-item-container {
  margin: 5px;
  background-color: #3d3a3a;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
}
.task-item {
  padding: 5px 10px;
  list-style: none;
}

.task-item.completed {
  text-decoration: line-through;
  color: #888;
}

.checkbox-item {
  padding: 15px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

button {
  padding: 10px;
  margin: 5px;
  background-color: rgb(14, 136, 192);
  color: #070707;
  cursor: pointer;
}

button:hover{
  opacity: 0.8;
}

#area-texto {
  width: 80%;
  height: 70px;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note {
  display: flex;
  background-color: #f9f9a9;
  color: #3d3a3a;
  padding: 5px;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.notes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.notes-grid .note {
  flex: 0 0 calc((100% - 40px) / 5);
  margin: 0;
  min-height: 70px;  
  box-sizing: border-box;
  align-items: center;
}

@media (max-width: 900px) {
  .notes-grid .note {
    flex: 0 0 calc((100% - 20px) / 3);
  }
}

form {
  display: flex;
  margin: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #3d3a3a;
  color: #f9f9a9;
  border-radius: 6px;
}


/* Card Item styles */
.card-item {
  background-color: #3d3a3a;
  color: #f9f9a9;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;  /* Animación suave */
}

.card-item.checked {
  background-color: #0e88c0;  /* Cambia el fondo */
  color: #070707;
  border: 3px solid #f9f9a9;  /* Agrega un borde */
  transform: scale(1.05);      /* Ligeramente más grande */
  box-shadow: 0 4px 12px rgba(14, 136, 192, 0.5);  /* Sombra más visible */
}

.priority-high {
  color: rgb(141, 0, 0); 
  border-left: 5px solid red;
  border-radius: 5px;
  background-color: rgb(184, 108, 108);
}
.priority-medium {
  color: rgb(187, 86, 4);
  background-color: rgb(224, 188, 133);
  border-left: 5px solid orange;
}
.priority-low {
  color: green;
  background-color: rgb(144, 224, 144);
  border-left: 5px solid green;
}