# Prisma CLI
DATABASE_URL="postgresql://postgres:password@localhost:5432/nextlms_dev?schema=public"

# NextAuth
NEXTAUTH_SECRET="change-me"
NEXTAUTH_URL="http://localhost:3000"

# App config
NEXT_PUBLIC_APP_NAME="Next LMS"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Optional integrations
MERCADOPAGO_PUBLIC_KEY=""
MERCADOPAGO_ACCESS_TOKEN=""
GROQ_API_KEY=""
